	</div>
</div>

<div aria-hidden="true" aria-labelledby="modal-config-label" role="dialog" tabindex="-1" id="modal-config" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="modal-config-label" class="modal-title">Config show table field</h4>
            </div>
            <div class="modal-body">

<div class="row">
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                All fields
            </div>
            <div class="panel-body connectedSortable well" id="sortable1">
            {% for field in allFields %}
                {% if field != 'id' %}
				    <p class="ui-state-default" id="field-{{field}}">{{field | capitalize}}</p>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <div style="margin-top: 85px;">
        	<a href="javascript:void(0);" class="move-to-show">>></a>
        	<a href="javascript:void(0);" class="move-to-hide"><<</a>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                Show fields
            </div>
            <div class="panel-body connectedSortable well" id="sortable2">
            	    {% if not showFields %}
                    <p class="ui-state-default ui-state-disabled" id="field-id">Id</p>
                    {% endif %}
                    {% for field in showFields %}
                        {% if field != 'id' %}
                        <p class="ui-state-default" id="field-{{field}}">{{field | capitalize}}</p>
                        {% else %}
                        <p class="ui-state-default ui-state-disabled" id="field-id">Id</p>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
            </div>
            <div class="modal-footer">
                <form>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    <input type="hidden" name="group" value="{{ all_e_link }}"></input>
                    <input type="hidden" name="code" value="show_fields_in_table"></input>
                    <button class="btn btn-primary save-config" type="button">Save changes</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>